@use '../../styles/vars.scss';
@use '../../styles/mixins.scss';

.info-boxes {
  &__list {
    display: flex;
    gap: 55px;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    flex: 1;
    min-width: 345px;

  }
}