@use '../../styles/vars.scss';
@use '../../styles/mixins.scss';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: vars.$btnBGColor;
  border: none;
  max-height: 68px;
  flex: 1;
  border-radius: 40px;
  padding: 14px 30px 18px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  &__text {
    color: vars.$btnTextColor;
    font: 900 vars.$btnTextSize-md vars.$nekstFont;
    line-height: vars.$btnLineHeight-md;
  }
  &-sm {
    padding: 18px 30px 22px;
    .btn__text {
      font-size: vars.$btnTextSize-sm;
      line-height: vars.$btnLineHeight-sm;
    }
  }
  &-disabled {
    background: rgba(255, 149, 20, 0.4);
  }
  &:hover {
    background: vars.$btnBGColorHover;
  }
  &:active {
    background: vars.$btnBGColorPressed;
  }
  &__loader {
    display: inline-block;
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    visibility: hidden;
    // animation: rotate 1s linear infinite;
    &::before{
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0px;
      border-radius: 50%;
      border: 5px solid #FFF;
      // animation: prixClipFix 2s linear infinite ;
    }
    @keyframes rotate {
      100%   {transform: rotate(360deg)}
    }
    @keyframes prixClipFix {
        0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
        25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
        50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
        75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
        100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
    }
  }
  &-loading {
    .btn__text {
      visibility: hidden;
    }
    .btn__loader{
      visibility: visible;
      animation: rotate 1s linear infinite;
      &::before{
        animation: prixClipFix 2s linear infinite ;
      }
    }
  }
}