@use 'vars';

html {
  color: vars.$mainTextColor;
  font: 400 14px vars.$gilroyFont;
  background: #fff;
  line-height: 1.15;
}
.section{
  padding: 0 calc(50% - 710px);
}
@media (max-width: 1440px){
  .section {
    padding: 0 10px;
  }
} 