@use 'vars';
@use './mixins.scss';

html {
  color: vars.$mainTextColor;
  font: 400 14px vars.$gilroyFont;
  background: #fff;
  line-height: 1.15;
}
.section {
  padding: 0 10px;
}
// @media (max-width: 1440px){
//   .section {
//     padding: 0 calc(50% - 560px);

//   }
// } 
// @media (max-width: 1120px){
//   .section {
//     padding: 0 calc(50% - 384px);

//   }
// } 
// @media (max-width: 768px){
//   .section {
//     padding: 0 calc(50% - 160px);

//   }
// } 
// @include mixins.lg {
//   .section {
//     padding: 0 calc(50% - 560px);
//   }
// }
// @include mixins.md {
//   .section {
//     padding: 0 calc(50% - 384px);
//   }
// }
// @include mixins.sm {
//   .section {
//     padding: 0 calc(50% - 160px);
//   }
// }

@include mixins.xs {
  .section {
    padding: 0 calc(50% - 160px);
  }
}
@include mixins.sm {
  .section {
    padding: 0 calc(50% - 384px);
  }
}
@include mixins.md {
  .section {
    padding: 0 calc(50% - 560px);
  }
}
@include mixins.lg {
  .section {
    padding: 0 calc(50% - 720px);
  }
}