$nekstFont: 'Nekst', sans-serif;
$gilroyFont: 'Gilroy', sans-serif;

$mainTextColor: #575757;
$blackTextColor: #333;

$btnTextColor: #fff;
$btnBGColor: #FF9514;
$btnBGColorHover: #000;
$btnBGColorPressed: #575757;
$btnTextSize-sm: 22px;
$btnLineHeight-sm: 22px;
$btnTextSize-md: 30px;
$btnLineHeight-md: 36px;

