@use '../../styles/vars.scss';
@use '../../styles/mixins.scss';

.calc {
  padding: 48px;
  padding-top: 60px;
  @include mixins.md {
    padding: 36px;
    padding-top: 60px;
  }
  @include mixins.sm {
    padding: 20px;
    padding-top: 40px;
  }
  
  &-inner {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    font: 900 54px vars.$nekstFont;
    line-height: 90%;
    color: #111111;
    margin-bottom: 30px;
    width: 65%;
    @include mixins.md {
      width: 100%;
    }
    @include mixins.sm {
      font-size: 34px;
      line-height: 90%
    }
  }
  
}